## Symfony default
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/SymfonyRequirements.php
/app/SymfonyStandard/
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
web/fonts
web/images
src

## CampaignChain
app/campaignchain/*
!app/campaignchain/.gitkeep
app/config/parameters.yml
app/sessions/*
!app/sessions/.gitkeep
components
web/assetic
web/css
web/js
web/media
web/storage

## Mac OS X
.DS_Store

## Backup files created by editor
*~

## PHPStorm
.idea/
*.ipr
*.iml
*.iws
.idea_modules/
atlassian-ide-plugin.xml

# vagrant
.vagrant/
vagrant/
VagrantFile
