parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     campaignchain_ce
    database_user:     root
    database_password: ~

    java_path: /usr/bin/java

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_sender_address: 'no-reply@example.com'
    mailer_sender_name: CampaignChain

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    router.request_context.host: localhost
    router.request_context.scheme: http

    campaignchain.env:  'prod'
    campaignchain.bower.cache_dir: %kernel.root_dir%/../app/cache/bower