parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     campaignchain_ce
    database_user:     root
    database_password: ~

    java_path: /usr/bin/java

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_sender_address: 'no-reply@example.com'
    mailer_sender_name: CampaignChain

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    router.request_context.host: localhost
    router.request_context.scheme: http

    campaignchain.tracking.js_route: /tracking.js
    campaignchain.bower.cache_dir: %kernel.root_dir%/../app/cache/bower

campaignchain_core:
    env: prod
    tracking:
        id_name: cctid
        js_mode: prod
        js_class: CCTracking
        js_init: cc
    upload_storage:
        path: '%kernel.root_dir%/../web/storage'
        url_prefix: /storage